.container {
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.d1 {
    background-color: rgb(0, 191, 255);
}

.d2 {
    background-color: rgb(255, 137, 69);
    justify-self: center;
}

.d3 {
    background-color: rgb(104, 244, 234);
    align-self: end;
}

.d4 {
    background-color: rgb(252, 131, 195);
}

.d5 {
    background-color: rgb(0, 211, 105);
}